version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    groups:
      actions:
        patterns:
          - "*"
  - package-ecosystem: cargo
    directory: userspace/ksud
    schedule:
      interval: weekly
    allow:
      - dependency-type: "all"
    groups:
      crates:
        patterns:
          - "*"
  - package-ecosystem: cargo
    directory: userspace/ksuinit
    schedule:
      interval: weekly
    allow:
      - dependency-type: "all"
    groups:
      crates:
        patterns:
          - "*"
  - package-ecosystem: gradle
    directory: manager
    schedule:
      interval: weekly
    groups:
      maven:
        patterns:
          - "*"
  - package-ecosystem: npm
    directory: website
    schedule:
      interval: weekly
    allow:
      - dependency-type: "all"
    groups:
      npm:
        patterns:
          - "*"
