menu "KernelSU"

if !ARM64
comment "-------------------------------------------------------"
comment "Please note:                                           "
comment "KernelSU only supports ARM64 architecture now.         "
comment "-------------------------------------------------------"
endif

config KSU
	tristate "KernelSU function support"
	depends on KPROBES && EXT4_FS && ARM64
	default y
	help
	  Enable kernel-level root privileges on Android System.
	  Requires CONFIG_KPROBES for kernel hooking support.
	  Requires CONFIG_EXT4_FS for `ext4_unregister_sysfs`.
	  To compile as a module, choose M here: the
	  module will be called kernelsu.

config KSU_DEBUG
	bool "KernelSU debug mode"
	depends on KSU
	default n
	help
	  Enable KernelSU debug mode.

endmenu
