name: Build Kernel - Android 13
on:
  # push:
  #   branches: ["main", "ci", "checkci"]
  #   paths:
  #     - ".github/workflows/deps/gki/build-kernel-a13.yml"
  #     - ".github/workflows/deps/gki/gki-kernel.yml"
  #     - ".github/scripts/build_a13.sh"
  #     - "kernel/**"
  workflow_call:
    inputs:
      debug:
        description: 'Build debug kernel'
        required: false
        type: boolean
        default: false
  workflow_dispatch:
    inputs:
      debug:
        description: 'Build debug kernel'
        required: false
        type: boolean
        default: false
jobs:
  build-kernel:
    if: github.event_name != 'pull_request' && github.ref != 'refs/heads/checkci'
    strategy:
      fail-fast: false
      matrix:
        include:
          - version: "5.10"
            sub_level: 223
            os_patch_level: 2024-11
          - version: "5.10"
            sub_level: 228
            os_patch_level: 2025-01
          - version: "5.10"
            sub_level: 234
            os_patch_level: 2025-03
          - version: "5.10"
            sub_level: 236
            os_patch_level: 2025-05
          - version: "5.10"
            sub_level: 238
            os_patch_level: 2025-07
          - version: "5.10"
            sub_level: 243
            os_patch_level: 2025-10
          - version: "5.15"
            sub_level: 153
            os_patch_level: 2024-09
          - version: "5.15"
            sub_level: 167
            os_patch_level: 2024-11
          - version: "5.15"
            sub_level: 170
            os_patch_level: 2025-01
          - version: "5.15"
            sub_level: 178
            os_patch_level: 2025-03
          - version: "5.15"
            sub_level: 180
            os_patch_level: 2025-05
          - version: "5.15"
            sub_level: 185
            os_patch_level: 2025-07
          - version: "5.15"
            sub_level: 189
            os_patch_level: 2025-09
    uses: ./.github/workflows/gki-kernel.yml
    secrets: inherit
    with:
      version: android13-${{ matrix.version }}
      version_name: android13-${{ matrix.version }}.${{ matrix.sub_level }}
      tag: android13-${{ matrix.version }}-${{ matrix.os_patch_level }}
      os_patch_level: ${{ matrix.os_patch_level }}
      patch_path: ${{ matrix.version }}
      debug: ${{ inputs.debug || false }}
  
  upload-artifacts:
    needs: build-kernel
    runs-on: ubuntu-latest
    if: ${{ ( github.event_name != 'pull_request' && github.ref == 'refs/heads/main' ) || github.ref_type == 'tag' || github.ref == 'refs/heads/ci' }}
    env:
      CHAT_ID: ${{ secrets.CHAT_ID }}
      BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
      MESSAGE_THREAD_ID: ${{ secrets.MESSAGE_THREAD_ID }}
      COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
      COMMIT_URL: ${{ github.event.head_commit.url }}
      RUN_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v6

      - uses: actions/checkout@v5
        with:
          path: KernelSU
          fetch-depth: 0

      - name: List artifacts
        run: |
          tree

      - name: Download prebuilt toolchain
        run: |
          AOSP_MIRROR=https://android.googlesource.com
          BRANCH=main-kernel-build-2024
          git clone $AOSP_MIRROR/platform/prebuilts/build-tools -b $BRANCH --depth 1 build-tools
          git clone $AOSP_MIRROR/kernel/prebuilts/build-tools -b $BRANCH --depth 1 kernel-build-tools
          git clone $AOSP_MIRROR/platform/system/tools/mkbootimg -b $BRANCH --depth 1
          pip3 install telethon

      - name: Set boot sign key
        env:
          BOOT_SIGN_KEY: ${{ secrets.BOOT_SIGN_KEY }}
        run: |
          if [ ! -z "$BOOT_SIGN_KEY" ]; then
            echo "$BOOT_SIGN_KEY" > ./kernel-build-tools/linux-x86/share/avb/testkey_rsa2048.pem
          fi

      - name: Bot session cache
        id: bot_session_cache
        uses: actions/cache@v4
        if: false
        with:
          path: scripts/ksubot.session
          key: ${{ runner.os }}-bot-session

      - name: Build boot images
        run: |
          export AVBTOOL=$GITHUB_WORKSPACE/kernel-build-tools/linux-x86/bin/avbtool
          export GZIP=$GITHUB_WORKSPACE/build-tools/path/linux-x86/gzip
          export LZ4=$GITHUB_WORKSPACE/build-tools/path/linux-x86/lz4
          export MKBOOTIMG=$GITHUB_WORKSPACE/mkbootimg/mkbootimg.py
          export UNPACK_BOOTIMG=$GITHUB_WORKSPACE/mkbootimg/unpack_bootimg.py
          cd $GITHUB_WORKSPACE/KernelSU
          export VERSION=$(($(git rev-list --count HEAD) + 10200))
          echo "VERSION: $VERSION"
          cd -
          bash $GITHUB_WORKSPACE/KernelSU/.github/scripts/build_a13.sh

      - name: Display structure of boot files
        run: ls -R

      - name: Upload images artifact
        uses: actions/upload-artifact@v5
        with:
          name: boot-images-android13
          path: Image-android13*/*.img.gz
