name: Clippy check

on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/clippy.yml'
      - 'userspace/ksud/**'

env:
  RUSTFLAGS: '-Dwarnings'

jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: userspace/ksud

      - name: Install cross
        run: cargo install cross

      - name: Run clippy
        run: |
          cross clippy --manifest-path userspace/ksud/Cargo.toml --target aarch64-linux-android
          cross clippy --manifest-path userspace/ksud/Cargo.toml --target x86_64-linux-android
