name: Clippy check

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/clippy.yml'
      - 'userspace/ksud/**'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/clippy.yml'
      - 'userspace/ksud/**'

env:
  RUSTFLAGS: '-Dwarnings'

jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # cross build failed after Rust 1.68, see https://github.com/cross-rs/cross/issues/1222
      - run: rustup default 1.67.0
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: userspace/ksud

      - name: Install cross
        run: cargo install cross --locked

      - name: Run clippy
        run: |
          cross clippy --manifest-path userspace/ksud/Cargo.toml --target aarch64-linux-android --release
          cross clippy --manifest-path userspace/ksud/Cargo.toml --target x86_64-linux-android --release
