name: Rustfmt check

on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/rustfmt.yml'
      - 'userspace/**'
  pull_request:
    branches:
      - 'main'
    paths:
      - '.github/workflows/rustfmt.yml'
      - 'userspace/**'

permissions:
  checks: write

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt

      - uses: LoliGothick/rustfmt-check@master
        with:
          token: ${{ github.token }}
          working-directory: userspace/ksud

      - uses: LoliGothick/rustfmt-check@master
        with:
          token: ${{ github.token }}
          working-directory: userspace/ksuinit
